.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
__pycache__/*
*/__pycache__/*
.idea/*

# big folders
autoencoders/mergedConstellationsEasyStars2Outline_Large/*
autoencoders/mergedConstellationsStars2Outline_Large/*
constellationImages/*
cvae/all/*
cvae/all_dotted/*
cvae/all_outlines/*
cvae/constellationImages/*
cvae/dotted_easy/*
cvae/generated/*
cvae/generated_large/*
cvae/generated_og/*
cvae/old/*
draw/image/*
draw/save/*
draw/test/*
iGPT/constellationImages/*
iGPT/data/*
iGPT/MNIST/*
Pix2Pix_gan/constellations/*
Pix2Pix_gan/logs/*
Pix2Pix_gan/mergedConstellations/*
Pix2Pix_gan/mergedConstellationsEasyStars2Outline_Large/*
Pix2Pix_gan/mergedThingsOutlineOriginal/*
Pix2Pix_gan/outlinesThingsAuto256/*
Pix2Pix_gan/run1/*
Pix2Pix_gan/run2/*
Pix2Pix_gan/run3/*
Pix2Pix_gan/run4/*
